<div class="hero_form_container">
  <div class="hero_form">
    <h2>Add Hero</h2>
    <div class="input_group">
      <input type="text" placeholder="Hero Name" class="input_text" autocomplete="off" #heroName />
    </div>

    <mat-select class="input_text2" [(ngModel)]="selectedPower"
      [ngClass]="{'input_text2--black': selectedPower.length > 0}" multiple placeholder="Select a Power">
      <mat-option  *ngFor="let power of powers" [value]="power.name">{{ power.name }}</mat-option>
    </mat-select>

    <div class="input_group">
      <input type="text" placeholder="Hero Image URL" class="input_text" autocomplete="off" #heroImageUrl />
    </div>
    <div class="input_group">

      <input type="text" placeholder="Hero Description" class="input_text" autocomplete="off" #heroDescription />
    </div>
    <div class="button_group" id="add_hero_button">
      <button type="button" class="add-button"
        (click)="addHero(heroName.value, heroImageUrl.value, heroDescription.value); heroName.value=''; selectedPower=[]; heroImageUrl.value=''; heroDescription.value=''">
        Add Hero
      </button>
      <button type="button" class="button button-first" (click)="goBack()">go back</button>
    </div>
  </div>
</div>