#search-component {
  display: flex;
  flex-direction: column;
  align-items: center;

  label {
    display: block;
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    color:white;
  }

  input {
    padding: 0.5rem;
    width: 100%;
    max-width: 600px;
    box-sizing: border-box;
    display: block;
    border-radius: 0.50rem;
    margin: 0.5rem 0;

    &:focus {
      outline: #336699 auto 1px;
    }
  }

  li {

    align-items: center;
    margin-right: 50px;
    list-style-type: none;

    a {
      margin-top: 10px; 
      margin-bottom: 10px; 
      padding: 10px 10px;
      background: repeating-linear-gradient( to left,#31278a,#6d66db);
      border: none;
      border-radius: 24px;
      color: #fff;
      text-decoration: none;
      display: inline-block;

      &:hover,
      &:focus {
        background: linear-gradient(#836af3, #afb0f5);
        outline: none;
      }
    }

    ul.search-result {
      
      padding-left: 10;
    }
  }
}

