.back {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 20px;
  background-image: linear-gradient(to left, #00BFFF, #a445b2);
  background-size:100% 100%;;
  align-items: start;

  .button_group {
    margin-top: 20px;
    align-items: start;

    a.add-button {
      margin: 10px 0.25rem;
      margin-bottom: 200px;
      padding: 12px 24px;
      background: linear-gradient(#a445b2, #00BFFF);
      border: none;
      border-radius: 24px;
      color: #fff;
      text-decoration: none;

      &:hover,
      &:focus {
        background: linear-gradient(#40E0D0, #02a0d4);
        outline: none;
      }
    }
  }

  h2 {
    color: white;
  text-align: center;
  font-size: 30px;
  margin-bottom: 30px;
  margin-right: 300px;
  }

  .heroes-container {
    display: grid;
    grid-gap: 10px;

    .heroes {
      padding: 0;
      width: 190px;

      li {
        position: relative;
        cursor: pointer;

        &:hover {
          left: 0.1em;
        }
      }
    }

    .hero-card {
      display: grid;
      grid-template-columns: auto 1fr;
      grid-gap: 10px;
      position: relative;
      margin: 10px;
      margin-top: 10px;
      margin-bottom: 20px;
      border: 1px solid #ccc;
      border-radius: 8px;
      overflow: hidden;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

      .hero-image {
        width: 170px;
        height: 250px;
        margin-top: 0;
      }

      .name-delete-container {
        display: grid;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.7);
        color: white;
        padding: 8px;
        font-size: 14px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        width: 170px;
        box-sizing: border-box;
      }

      .hero-id {
        margin: 0;
        font-size: 12px;
        color: #ccc;
        order: -1;
      }

      .hero-name {
        margin: 0;
        flex: 1;
        text-align: center;
      }

      .delete {
        background-color: white;
        color: #525252;
        font-size: 1.1rem;
        padding: 3px 10px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
    }

  }

  .hero-details {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-gap: 20px;
    align-items: start;
    padding: 20px;

    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    padding: 40px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);

    width: 80%;
    height: 470px;


    h2 {
      justify-self: center;
      font-size: 24px;
      color: white;
      font-family: Arial, Helvetica, sans-serif;
      margin-bottom: 50px;

    }

    .hero-info {
      display: grid;
      grid-gap: 10px;
      align-items: start;

      p {

        color: white;
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
      }
    }

    .selected-hero-image {
      margin-top: 50px;
      width: 250px;
      height: 350px;
      justify-self: center;


    }
  }


}